.dropDownContainer{
    display: flex;
    // flex-direction: column;
    gap : 60px;
}

.dropDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FF6060;
    color : #fff;
    width: 1023px;
    height: 47px;
    img{
       max-height: 28px;
    }
}
 



/* .accomodationContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 76px;
    width: 1023px;
    margin-top: 20px;
}


    .dropDownContainer{
        position: absolute;
        z-index: 10;
        background-color:#FF6060;
        color : #fff;
        width: 582px;
        height: 47px;
        gap : 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding : 0 10px;
        
        .dropDownContent{
            background-color: #f6f6f6;
            color: #FF6060;
            display: flex;
            position: relative;
            top: 35px;
            width: 100%;
            padding: 0 10px;
            border-radius: 10px;
        }
    }

.dropDown{
    display: flex;
    flex-direction: column;
} */


// a modif après  dropDown about




/* .dropDownContainer{
    position: absolute;
    z-index: 10;
    background-color:#FF6060;
    color : #fff;
    display: flex;
    // gap: 30px;
    align-items: center;
    // flex-direction: row;
    justify-content: space-between;
    // padding-left: 20px;
    border-radius: 10px;
    width: 582px;
    // margin-right:76px ;

} */


/* .contentHidden{
    width: 32px;
    height : 32px;
    display: flex;

} */
