.header{
    margin: auto;
    max-width: 1240px;
    color: #ff6060;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    a{
        margin-left: 50px;
        display: flex;
        align-self: center;
        font-size: 24px;
        color : #ff6060;
        text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
}
.logoSVG{
    margin-right: auto;
    height: 68px;
    width: 210px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header{
    max-width: 335px
    }

    .logoSVG{
        height: 47x;
        width: 145px;
    }

    nav a{
            font-size: 12px;
            text-transform: uppercase;
            margin-left: 10px;
    }
}
// 