.containerAbout {
  margin: auto;
  max-width: 1240px;
}

.bannerAbout {
  height: 225px;
  border-radius: 25px;
  margin-bottom: 60px;
  object-fit: scale-down;
  overflow: hidden;
}

.DropDownAbout {
  max-width: 1023px;
  margin: auto;
}

.containerAbout .aboutBanner img {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .containerAbout {
    min-width: 300px;
    margin: 0 20px;
  }
  .aboutBanner {
    margin-top: 10px;
    height: 223px;
    min-width: 300px;
  }
}

// containerAbout
/* .DropDownAbout{
        display:flex;
    flex-direction: column;
    align-items: center;
} */

/* .aboutDropDown{
    position: absolute;
    z-index: 10;
    background-color:#FF6060;
    color : #fff;
    width: 1023px;
    height: 47px;
    gap : 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding : 0 10px;

} */
//
