.banner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // width: 1240px;
    position : relative ;
    margin-bottom: 30px ;
    img{
        margin-top: 35px;
        height:223px;
        object-fit: cover;
        border-radius: 25px;
        width : 100%;
        filter: brightness(60%) ;
    }
    h1{
        color: #fff;
        font-size: 48px;
        position : absolute;
        bottom: 18%;
        right: 25%;
        z-index: 10;
    }
}

@media screen and (max-width: 768px) {

    .banner{
        position : relative ;


    img{
        margin-top: 10px;
        height: 111px ;
        border-radius: 10px;
    }
    h1{
        position : absolute;
        top: 40px;
        left : 16px;
        font-size: 24px;
        overflow-wrap: break-word;
        max-width: 190px;
    }
}
}